{{ define "main" }}
<main class="stack-3">
    <section>
        <video poster="/thumbnails/reel-2.png" class="frame shadow-2 w-full">
        </video>
    </section>

    <section class="box">
        <div class="center-page stack-2">
            <h2>Full Scale Creative Studio</h2>
            <p>Faro began 10 years ago in San Francisco at the crosswinds of film and virtual reality. We are cinematic storytellers, filmmakers and artists. We are methodical in our approach to creating aesthetically and emotionally satisfying stories that we are proud to release.<p>
        </div>
    </section>

    <section>
        <video poster="/thumbnails/reel-1.png" class="frame shadow-2 w-full">
        </video>
    </section>

    <section class="box">
        <div class="center-page stack-2">
            <h2>Dynamic, Humanistic, Cinematic</h2>
            <p>Collaboration is key in our approach to crafting compelling visual narratives by conceptualizing,  developing and executing the creative goals alongside you. Each project is unique and requires our utmost care to take it all the way through the development phase to pre-production, production and post-production together.<p>
        </div>
    </section>
</main>
{{ end }}
