<header class="site-header w-full">
    <div class="center-page box">
        <div class="cluster justify-between items-center w-full">
            <h1 class="h3">Faro Films</h1>
            <nav class="cluster">
                <a class="decoration-none" href="#">Reels</a>
                <a class="decoration-none"  href="#">About Us</a>
                <a class="decoration-none" href="#">Our Work</a>
                <a class="decoration-none" href="#">Contact Us</a>
            </nav>
        </div>
    </div>
</header>
